page-rating {
    .star{
		float: left;
	    width: 100%;
        margin: 0;
        text-align: center;
        margin-bottom: 5px;
	}
 .star ul{
		padding: 0;
	    width: 100%;
	    float: left;
	    line-height: 32px;
	    margin: 0;
	}
.star ul li{
    display: inline-block;
	}
	 .star ul li .icon{
		font-size: 30px;
	}
        ion-icon.icon.icon-md.ion-md-star{
            font-size: 40px;
                color: #f27242;
        }
        ion-icon.icon.icon-md.ion-md-star-outline{
             font-size: 40px;
             color: #f27242;
        }
	.text{
	    background-color: #fff;
	    width: 100%;
	    float: left;
	    margin-bottom: 6px;
	}
	.text-input{
	    margin: 0;
	    width: 100%;
	    float: left;
	    font-size: 13px;
	    color: #141414;
	    font-weight: 400;
	    height: 65px;
	}
	
	.btnprofile{
		font-size: 13px;
	    font-weight: 500;
	    color: #fff;
	    background-color: #f27242;
	    width: 100%;
        float: left;
        margin: 0;
        margin-top: 15px;
    } 
    ion-textarea{
        width: 100%;
        float: left;
        border: 1px solid #cccccc;
        border-radius: 5px;
        padding: 5px 10px;
    }
    .content-sec{
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        height: fit-content;
    }

}
