page-filter {
		.btnprofile{
		font-size: 12px;
	    font-weight: 400;
	    text-align: center;
	   
	}

	.header-sec{
		width: 100%;
	    float: left;
	    background-color: #d7d7da;
	    padding: 16px;
	}
	.header-sec h3{
		width: 100%;
	    font-size: 14px;
	    font-weight: 700;
	    float: left;
	    margin: 0px;
	    margin-bottom: 3px;
	}
	.header-sec .input{
		background-color: #fff;
    	border-radius: 5px;
	}
	.header-sec .input .text-input{
		font-size: 12px;
	    color: #a8a7a7;
	    font-weight: 400;
	    padding-left: 6px;
        height: 15px;
	}
	.upper .text-input{
		text-transform: uppercase;
	}
	.content-sec{
		width: 100%;
		float: left;
	}
	.content-sec .checkbox-checked{
		border-color: #f27242;
    	background-color: #f27242;
	}
	ion-datetime{
		background-color: #fff;
	    border-radius: 5px;
	    padding: 0 !important;

	    .item-cover{
	    	display: none !important;
	    }
	}
	.datetime-text{
		font-size: 12px;
	    color: #a8a7a7;
	    font-weight: 400;
	    padding-left: 6px;
	    height: 15px;
	    margin: 13px 8px;
	    line-height: 17px;
	}
	ion-select{
		background-color: #fff;
	    border-radius: 5px;
	    .item-cover{
	    	display: none !important;
	    }
	    .select-icon{
	    	height: 15px !important;
	    }
	}
	.select-text{
		font-size: 12px;
	    color: #a8a7a7;
	    font-weight: 400;
	    padding-left: 6px;
	    height: 15px;
	  
	}
	.attr{
		background-color: #fff;
	    border-radius: 5px;
	    border: none !important;
	    min-height: auto;
	    padding: 0;

	    .item-inner{
	    	border: none !important;
	    }
	    .label{
	    	font-size: 12px;
		    color: #a8a7a7;
		    font-weight: 400;
		    padding-left: 6px;
		    height: 15px;
		    margin: 13px 8px;
		    line-height: 17px;
	    }
	}
	.content-sec .item{
	    width: 100%;
	    float: left;
	    border-bottom: 1px solid #dedede;
	}
	.content-sec .item-inner{
		padding-right: 0;
		border-bottom: none !important;
	}
	.content-sec .item:last-child{
		border: none;
	}
	.content-sec .item:last-child .item-inner{
		border-bottom: 0.55px solid #c8c7cc;
	}
	.content-sec .item .label{
		font-size: 13px;
	    font-weight: 400;
	    color: #313131;
	}
	.scroll-content{
		padding-top: 5px;
	}
	.footer .button{
	    margin: 0;
	    text-align: center;
	    background-color: #f27242;
	    font-size: 14px;
	    font-weight: 500;
	    width: 100%;
	    float: left;
	}
	.footer .toolbar{
		min-height: auto;
	}
	.footer .toolbar-background{
		border: none;
	}
	.radio-checked{
		border-color: #f27242 !important;
	}
	.radio-md .radio-checked .radio-inner{
		background-color: #f27242;
		
	}
	.radio-checked .radio-inner{
		border-color: #f27242 !important;
	}
}
